[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
python-dotenv = "*"
langchain = "*"
langchain-openai = "*"
pytest = "*"
httpx = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.9"

[scripts]
start = "uvicorn app.main:app --reload --port 5000"
install = "pipenv install --dev"
db-migrate = "alembic upgrade head"
db-revision = "alembic revision --autogenerate -m"